<header>
  <div class="title">
    <a href="/">
      <h1>Pokedex</h1>
    </a>
  </div>
  
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="/">Liste</a>
      </li>
      <li class="nav-list-item">
        <a href="#">Types</a>
      </li>
    </ul>
  </nav>
</header>