<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/header') %>
  <main>
    <h2>Main</h2>
    <ul>
      <% for (const pokemon of pokemons) { %>
      <li>
        <%= pokemon.nom %>
      </li>
      <% } %>
    </ul>
  </main>
</body>
</html>